/* .event-detail {
    background: linear-gradient(215.98deg, #2ca838 14.14%, #4e4e4e 146.06%);
    width: 130px;
    height: 130px;
  } */
  
  /* .event-count {
    color: #ffffff;
    font-weight: 900;
    font-size: 120px;
    position: absolute;
    right: 7%;
    top: -34%;
  } */
  
  /* .event-summary {
    background: linear-gradient(212.22deg, #ffffff 13.54%, #c5c5c5 83.05%);
    width: 63px;
    height: 63px;
    border-radius: 100%;
  } */
  
  /* .glass {
    background-image: url("../../assets/glass.png");
    background-repeat: no-repeat;
    background-size: cover;
  } */
  
  .EventHeaderFont1 {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 7vh !important;
    color: #3dd34f;
    font-weight: 800;
  }
  
  .EventHeaderFont2 {
    color: #242424;
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 7% !important;
  }
  
  .EventHeaderFont3 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    background-image: linear-gradient(248.61deg, #ff007a 35.93%, #ffb800 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 7% !important;
  }
  
  
  
  /* Ring and image related CSS */
  
  .eventVideoCard {
    position: relative;
    z-index: 1;
  }
  
  .eventVideoCardPreviev {
    border-radius: 60% 42%;
    left: 15%;
    width: 90%;
    height: 94%;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 3%;
    transform: perspective(1000px) rotateY(30deg) scale(1, 0.9) translateZ(-100px);
    z-index: -1;
  }
  
  .eventRingContainer {
    min-height: 58vh;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-position 0.3s ease;
    z-index: 30;
    transform: rotateY(180deg);
  }
  
  .animate {
    animation: spin 0.3s steps(10) forwards, spin-back 0.3s steps(10) reverse forwards;
  }
  
  .animate-forward {
    animation: spin 0.3s steps(10) forwards;
  }
  
  .animate-backward {
    animation: spin-back 0.3s steps(10) forwards;
  }
  
@keyframes spin {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -4647px;
    }
}

@keyframes spin-back {
    from {
        /* 5950 */
        background-position: 0 -4647px;  
    }
    to {
        background-position: 0 0;
    }
}

@media (max-width: 600px) {

  .EventHeaderFont1 {
      font-size: 60px;
      line-height: 60px;
  }

  .EventHeaderFont2 {
      font-size: 30px;
      line-height: 30px;
  }

  .EventHeaderFont3 {
      font-size: 24px;
      line-height: 24px;
  }

  .eventRingContainer {
      min-height: 400px;
      background-size: contain;
      background-size: cover;
      background-repeat: no-repeat;
      transition: background-position 0.3s ease;
      z-index: 30;
  }

  .eventVideoCardPreviev {
      border-radius: 60% 42%;
      left: -8%;
      width: 90%;
      height: 94%;
      max-width: 100%;
      overflow: hidden;
      position: absolute;
      top: 6%;
      transform: perspective(1000px) rotateY(-30deg) scale(1, 0.9) translateZ(-100px);
      z-index: -1;
  }

  @keyframes spin {
      from {
          background-position: 0 0;
      }
      to {
          background-position: 0 -4013px;
      }
  }
  
  @keyframes spin-back {
      from {
          background-position: 0 -4013px;
      }
      to {
          background-position: 0 0;
      }
  }
}
