.animate {
    animation: spin 0.3s steps(10) forwards, spin-back 0.3s steps(10) reverse forwards;
}

.animate-forward {
    animation: spin 0.3s steps(10) forwards;
}

.animate-backward {
    animation: spin-back 0.3s steps(10) forwards;
}

@keyframes spin {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -5776px;
    }
}

@keyframes spin-back {
    from {
        /* 5950 */
        background-position: 0 -5776px;
    }

    to {
        background-position: 0 0;
    }
}